body{
    background: #0A092D;
}
.containerMain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.boxContentPage{
    margin-top: 2em;
    width: 95%;
    height: 80%;
}

.Title{
    font-size: 25px;
    color: white;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

.boxSearchUser{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.boxSearchBar{
    margin-bottom: 20px;
}

.rmSearchBtn{
    margin-top: 10px;
    border-radius: 10px;
    width: 30%;
    background: #93CBA3;
    color: white;
    font-family: Roboto;
}

.containerMainRetard{
    width: 100%;
    height: 100%;
    margin-top: 1em;
    border-top: 1px solid white;

}

.containerRetardJustified{
    height: 50%;
}

.titleRetard{
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    border-bottom: 1px solid white;
    width: 50%;
    padding-left: 5px;
}

.containerRetardUnjustified{
    height: 50%;
    margin-top: 3em;
}

.retard{
    background: #161B2A;
    margin-top: 2em;
    border-radius: 20px;
    box-shadow:  23px 23px 31px #131724,
    -23px -23px 31px #191f30;
}

.txtInfoRetard{
    color: white;
    font-family: 'Roboto';
    padding: 10px;
}

.txtRed{
    color: #BA1F33;
}

.formSearchBar{
    width: 100%;
    margin: 0;
}

.btnAddRetard{
    padding: 5px;
    background: #3F9690;
    border-radius: 10px;
    color: white;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .btnSearch{
        right: 140px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .formSearchBar{
        width: 50%;
    }

    .btnSearch{
        right: 90px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .formSearchBar{
        width: 50%;
    }

    .btnSearch{
        right: 110px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .formSearchBar{
        width: 50%;
    }

    .btnSearch{
        right: 135px;
    }
}

@media screen and (min-width: 1440px) {
    .formSearchBar{
        width:50%;
    }
    .btnSearch{
        right: 175px;
    }
}