.containerNewFacture{
    width: 100%;
    height: 100vh;
    background: #0A092D;
}

.containerBanner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
    width: 100%;
}

.containerTextBanner{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
}

.containerSearchBar{
    margin: 2em;
}

.contentBanner{
    background: #151e2f;
    width: 50vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 10em;
}

.textBanner{
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    margin: 1em;
    color: white;
}

.textGreen{
 color: #93CBA3;
}


.containerCard{
    color: white;
    width: 29vw;
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 3px;
}


.card{
    border-radius: 5px;
    width: 12vw;
    height: 12em;
    background: #151e2f;
    margin-left: 3px;

}

.textCard{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}

.iconCard{
    font-size: 40px;
}








