.boxSearchBar{
    height: auto;
    width: 20em;
    position: relative;
}

.searchBar{
    width: 20em;
    height: 2em;
    border-radius: 10px;
    cursor: pointer;
    outline-style: none;

}

.btnSearch{
   position: absolute;
    right: 10px;
    top: 5px;
}

.boxSelectFacture{
    margin-bottom: 0.8em;
}

.textInfoSearchBar{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 15px;
}


