/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */

.title{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 5%;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 7%;
    align-items: center;
    background: #161b2a;
}

.logo {
    color: #ffffff;
    font-size: 20px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #c4c4c4;
    padding: 8px 20px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover{
    font-size: 20px;
    color: white;
}
ul li a.active {
    color: #93CBA3;
    font-size: 20px;
}

#icon {
    background-color: #000000;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;   
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #0075FF;
}

#checkbox,
#icon {
    display: none;
}

@media screen and (max-width: 1190px) {
    nav {
        border-bottom: 1px solid #455468;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #18283B;
        z-index: 2;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
        margin-top: 3.53em;
        height: 100vh;

    }
}

@media screen and (max-width: 400px){
    nav {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 10px 7%;
        align-items: center;
        background: black;


    }
}

@media screen and (max-width: 300px){
    .logo{
        font-size: 15px;
    }
}


/* LOGIN */

.mainLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.divLoginForm{
    width: 85%;
    height: 34em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.loginForm{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.boxForm{
    margin-left: 3em;
    margin-bottom: 2em;
    display: flex;
    justify-content: left;
    align-items: top;
    width: 90%;
}

.loginImage{
    width: 65%;
    height: 100%;
    background : url("https://zupimages.net/up/22/49/br4d.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titleForm{
    color: black;
    font-size: 30px;
    margin-top: 2em;
    font-family: 'Inter', sans-serif;
}

.loginSelect{
    width: 15em;
}

.champs{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.input{
    width: 20em;
    height: 2em;
    margin-top: 0.3em;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif; 
    transition: 0.3s;
    outline-style: none;
    border: solid 0.5px  gray;
    cursor: pointer;
}
.input:hover{
    border: solid 1.5px #AEB0F6;
    transition: 0.3s ease-in-out;
}

.boxSelect{
    margin-top: 2em;
}

.loginSelect{
    font-family: 'Roboto', sans-serif; 
}

#btnLogin{
    background-color: #93CBA3;
    color: white;
    font-family: 'Roboto', sans-serif; 
    width: 20em;
    margin-top: 2em;
    border-radius: 5px;
    height: 2em;
}


