#btnSend{
    background-color: #93CBA3;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 15em;
    margin-top: 2em;
    border-radius: 5px;
    height: 2em;
}

.labelFormFact{
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    margin-top: 1em;
}
