.blocInput{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.labelFormSignup{
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    color: white;
}
.inputSignup{
    width: 80%;
    height: 3vh;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background: #151E2F;
    border: 1px solid white;
    color: white;
}

.selectClassSignup{
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
}

.btnValideFormSignup{
    color: white;
    margin-left: 21px;
    margin-top: 10px;
    background: #93CBA3;
    padding: 5px 20px;
    border-radius: 10px;
    width: 35%;
    margin-bottom: 20px;
}

/* media ecran PC */
@media screen and (min-width: 768px) {

}